<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Booklist</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link type="text/css" rel="stylesheet" href="css/bootstrap.min.css"
            th:href="@{css/bootstrap.min.css}" />

    </head>
    <body>
        <h1>Edit book</h1>
        <div>
            <form th:object="${book}" th:action="@{/savebook}"
                method="post">
                <input type="hidden" id="id" th:field="*{id}" />
                <div>
                    <label>Title</label>
                    <input type="text" th:field="*{title}" />
                </div>
                <div>
                    <label>Author</label>
                    <input type="text" th:field="*{author}" />
                </div>
                <div>
                    <label>Publication year</label>
                    <input type="text" th:field="*{publicationYear}" />
                </div>
                <div>
                    <label>ISBN</label>
                    <input type="text" th:field="*{isbn}" />
                </div>
                <label for="categoryList">Category</label>
                <select id="categoryList" th:field="*{category}"
                    class="form-control">
                    <option th:each="category: ${categories}"
                        th:value="${category.categoryId}"
                        th:text="${category.name}">
                    </option>
                </select>

                <div>
                    <label>Price</label>
                    <input type="text" th:field="*{price}" />
                </div>

                <input type="submit" value="Save" />

            </form>
        </div>

    </body>
</html>